<p id="id"></p>
<script type="text/javascript">
function display(data){
	document.getElementById("id").innerHTML = data.number;
}

</script>
<script type="application/javascript" src="http://140.112.90.152:8080/job/interoperation_run/lastBuild/api/json?jsonp=display"> </script>
